<section>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!nizImaElemente">
      Nema trenutno zahteva
    </div>
    <div *ngFor="let item of listaZaPrikaz">
<mat-card class="example-card">
    <mat-card-header>
      <button mat-fab color="accent" (click)="onRate(item)">Oceni</button>
      <mat-card-title><font size="-1">{{item.infoToShow}}</font> </mat-card-title>
      <mat-card-subtitle>
      <div fxLayoutAlign="start center" fxLayout="row" routerLink="/profile" (click)="this.US.profileToShow=2">
        Vozač: <a href="javascript:;">{{ this.US.getNameById(item.id_vozac) }}</a>
        <mat-icon>stars</mat-icon>
        {{this.US.getRatingById(item.id_vozac)[0]}}
      </div>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

</div>
</section>
