<h2 mat-dialog-title>Uslovi korišćenja</h2>
<mat-dialog-content class="mat-typography">
    <h3>1. Opšti uslovi korišćenja</h3>
    <p>1.1 Svrha i definicije<br>

            Opšti uslovi korišćenja važe za sve usluge koje pruža Comuto SA (kompanija registrovana u Francuskoj pod matičnim br. RCS Paris 491904546) sa zvaničnim sedištem na adresi 84 avenue de la République, 75011 Paris, Francuska (“SingiPool”).
            
            SingiPool je vlasnik i upravlja internet sajtom www.SingiPool.rs.
            
            Ovaj internet sajt i druge aplikacije zajednički se nazivaju „Sajt“.
            
            Definicije
            
                „Deljenje prevoza“ je zajedničko putovanje tj. deljenje Vozila radi Vožnje sa Vozačem koji prevozi Putnika u zamenu za određeno učešće u troškovima;
                „SingiPool“ je Comuto SA, kompanija koja održava sajt za obezbeđivanje usluga u vezi sa zajedničkim putovanjem i svi njeni partneri ili kompanije iz grupacije ili povezana preduzeća;
                „Usluga rezervacije“ ima značenje koje joj je pripisano u tački 2.3;
                „Rezervacija“ ima značenje koje joj je pripisano u tački 2.3;
                „Potvrda rezervacije“ ima značenje koje joj je pripisano u tački 2.3;
                „Uslovi“ su Opšti uslovi, uključujući Povelju o lepom ponašanju i Politiku zaštite podataka o ličnosti;
                „Učešće u troškovima“ je iznos dogovoren između Vozača i Putnika za Vožnju koju Putnik plaća kao svoje učešće u troškovima Vožnje;
                „Vozač“ je osoba koja koristi sajt da postavi ponudu za zajedničko putovanje sa Putnikom i za njegov prevoza do datog odredišta u dogovorenom vremenu, u zamenu za njegovo učešće u troškovima;
                „Deonica“ je deo Vožnje koji Putnik posebno rezerviše u skladu sa Uslovima;
                „Član“ je Putnik, Vozač ili bilo koji drugi korisnik sajta;
                „Putnik“ je osoba koja je prihvatila ponudu Vozača za vožnju;
                „Kvalifikaciona vožnja“ ima značenje koje joj je pripisano u tački 2.3.
                „Usluga“ je bilo koja usluga koju pruža Sajt bilo kom članu;
                „Sajt“ znači SingiPool.rs i druge aplikacije, uključujući sve mikro-sajtove ili podsajtove koje nudi bilo koji od tih internet sajtova (npr. „Contacts“ i „Campus“)
                „Vožnja“ je zajedničko putovanje o kome su se Vozač i Putnik dogovorili preko sajta i ti izrazi takođe obuhvataju Kvalifikacionu vožnju
                „Korisnički nalog“ je nalog sa Sajtu koji otvara Član i koji se koristi za pristup Usluzi koju Sajt pruža;
                „Vozilo“ je vozilo koje Vozač nudi za zajedničko putovanje.
            </p>
    
    <p>1.2 Prihvatanje uslova<br>

            Ovi uslovi važe za sve vrste korišćenja Sajta. Korišćenjem Sajta, Član prihvata Uslove u celosti, čak i ako ne otvori Korisnički nalog.
            
            Pristup Uslugama neće biti moguć ako se Uslovi ne prihvate u celini. Članovi nemaju pravo da prihvate samo deo Uslova. Svi Članovi saglasni su da poštuju uslove Povelje lepog ponašanja i prihvataju da se njihovi lični podaci obrađuju u skladu sa Politikom zaštite podataka o ličnosti.
            
            Ugovor za pružanje usluga Deljenja prevoza je između Vozača i Putnika i SingiPool nije ugovorna strana ovih aranžmana odnosno ugovora između njih.
            
            U slučaju da Član ne poštuje bilo koji od utvrđenih Uslova, SingiPool zadržava pravo da povuče Korisnički nalog tog Člana i da obustavi ili uskrati sve Usluge tom Klijentu bez prethodnog obaveštenja.
            
            Svrha ovih Uslova je da se stvore obavezujuća prava i obaveze između Članova.</p>
    
    <p>1.3 Izmena Uslova, Sajta i Usluge <br>

            SingiPool zadržava pravo da u svakom trenutku izmeni Uslove. Osim toga, SingiPool može u svakom trenutku da izmeni ili dopuni Uslove koje pruža preko Sajta, funkcionalnost Sajta i/ili „izgled i doživljaj“ Sajta bez prethodnog obaveštenja pri čemu ne preuzima odgovornost prema Članovima za posledice tih izmena ili dopuna.
            
            Sve izmene Sajta, Usluga ili Uslova stupaju na snagu čim se objave na Sajtu.
            
            Korišćenjem bilo koje Usluge ponuđene preko Sajta nakon objavljivanja izmenjenih Uslova, Članovi automatski prihvataju sve izmenjene Uslove. Izmene ne važe za rezervacije koje su napravljene pre objavljivanja izmenjenih Uslova.</p>
   
   
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="10px">
    <button type="submit" mat-raised-button color="primary"
    (click)="onClick()">Zatvori</button>
</mat-dialog-actions>